<details class="md-help">
  <summary>Подсказка по разметке</summary>
  <div class="md-help__body">
    <table>
      <tr><td><code>**жирный**</code>, <code>*курсив*</code></td><td><strong>жирный</strong>, <em>курсив</em></td></tr>
      <tr><td><code>$a^2+b^2=c^2$</code></td><td>формула в строке</td></tr>
      <tr><td><code>$$\sum_{n=1}^\infty \frac1{n^2}$$</code></td><td>выключная формула</td></tr>
      <tr><td><code>&gt; цитата</code></td><td>цитата</td></tr>
      <tr><td><code>- пункт</code>, <code>1. пункт</code></td><td>списки</td></tr>
      <tr><td><code>[текст](https://…)</code></td><td>ссылка</td></tr>
      <tr><td><code>```код```</code></td><td>блок кода</td></tr>
    </table>
  </div>
</details>
