{% extends "base.html" %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="auth">
  <div class="auth__card">
    <h1 class="auth__title">Вход</h1>
    <p class="auth__lead">Нет аккаунта? <a href="{% url 'accounts:signup' %}">Зарегистрируйтесь</a></p>
    <form method="post" class="form">
      {% csrf_token %}
      {% include "partials/form_errors.html" %}
      {% include "partials/field.html" with field=form.username %}
      {% include "partials/field.html" with field=form.password %}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn btn--primary btn--block btn--lg">Войти</button>
    </form>
  </div>
</div>
{% endblock %}
